<div class="resume-job">
        <div class="row job-title">
            <div class="columns medium-offset-3 medium-6 end">
                <div class="job-heading">
                    <h5 class="job-company">{{job.company}}</h5> 
                    <a {{action "toggle_extra_details"}} class="pull-right">
                        <i class="fa fa-toggle-down"></i>
                    </a>
                </div> 
            </div> 
        </div> 
        <div class="row job-body">
            <div class="columns medium-3 job-details">
                <p class="job-time">{{job.position}}</p>
                <p class="job-time">
                {{! only show the dash and end year if one is defined }}
                {{job.start_year}}
                {{#if job.end_year}}
                 - {{job.end_year}}
                {{/if}}
                </p>
            </div> 
            <div class="columns medium-7 large-6 end job-description">
                <div class="job-text-description">
                    {{{job.description}}}
                </div> 
                <div class="row job-extra-info" style="margin-top: 10px;">
                    <div class="columns medium-6">
                        <div class="row small-title text-center">
                            &mdash; tools &mdash;
                        </div> 
                        <div class="row resume-tool-list">
                            {{#each tool in job.tools}}
                            <div class="columns medium-4 resume-tool">
                                <div class="resume-tool-image-holder">
                                    <img class="resume-tool-image" src="{{tool.file}}" />
                                </div> 
                                <p class="resume-tool-name">{{tool.name}}</p>
                            </div>
                            {{/each}}
                        </div> 
                    </div>
                    <div class="columns medium-6 job-sample">
                        <div class="row small-title text-center">
                            &mdash; Sample &mdash;
                        </div> 
                        <div class="sample-body">
                            <div class="row">
                                <div class="columns medium-12 text-center">
                                    <a class="sample-link" href="{{job.sample.file}}">
                                        {{{job.sample.image-element}}}
                                    </a> 
                                </div> 
                            </div> 
                            <div class="sample-description-row row">
                                <div class="columns medium-12">
                                    <p class="sample-description">{{job.sample.description}}</p>
                                </div> 
                            </div> 
                        </div> <!-- sample-body -->
                    </div> <!-- job-sample -->
                </div> <!-- job-extra-info -->
            </div> <!-- job-description -->
        </div> <!-- job-body -->
</div>
{{yield}}
